[submodule "packages/space-data-api"]
        path = packages/space-data-api
        url = git@github.com:sean-m-brennan/space-data-api.git
[submodule "packages/space-sim"]
        path = packages/space-sim
        url = git@github.com:sean-m-brennan/space-sim.git
[submodule "packages/locate-user"]
        path = packages/locate-user
        url = git@github.com:sean-m-brennan/locate-user.git
[submodule "packages/repoblog"]
        path = packages/repoblog
        url = git@github.com:sean-m-brennan/repoblog.git
[submodule "packages/lens-flare"]
	path = extra
        url = git@github.com:sean-m-brennan/R3F-Ultimate-Lens-Flare.git
