html {
    scrollbar-color: #202324 #000000;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    border: 0;
    margin: 0;
    color: white;
    background-color: black;
    overflow-x: auto;
}

.page {
    display: grid;
    gap: 10px;
    width: 100%;
    height: 100%;
    grid-template-rows: auto auto 1fr;
}

.header {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 72px 2fr 3fr 1fr;
    gap: 10px;
    color: #fff;
    height: 50px;
    vertical-align: top;
}

.header_title {
    grid-column: 2;
    font-size: 32px;
    vertical-align: middle;
    line-height: 64px;
    padding-left: 15px;
}

.header_title_icon {
    height: 72px;
}

.options {
    text-align: right;
    grid-column: 4;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 32px;
}

.sidebar {
    color: #fff;
    background-color: #00000066;
    top: -15%;
    height: 70%;
    display: block;
}

.sidebar_header {
    color: white;
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #ffffff33;
}

.sidebar_header_text {
    color: white;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.options_button {
    font-size: 26px;
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}

.subhead {
    text-align: center;
    font-size: 24px;
    padding-bottom: 50px;
    height: 75px;
}

.backgrounded {
    width: 100%;
    min-height: 100vh;
    background-size: 100% auto;
    background-image: url('./orion.jpg');
}

.repoblog_links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.repoblog_link {
    text-align: center;
    color: #fff;
}

.repoblog_link_button {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: none;
}

.repoblog_link_image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.repoblog_link_caption {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.repoblog_content {
    width: 99vw;
    height: 97vh;
    background-color: #000;
    padding: 10px 100px 50px 100px
}

.route_link {
    font-size: 26px;
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
}

.route_list {
    list-style-type: circle;
}

.route_list li::marker {
    font-size: 28px;
}

.about {
    font-size: 22px;
    padding-left: 250px;
    padding-right: 260px;
}

.home {
    overflow-x: hidden;
}

