.scene {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.canvas {
    background: #000;
    z-index: 8;
}

.topbar {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    pointer-events: none;
    position: absolute;
    top: -36vw;
    left: -50vw;
    width: 100vw;
    height: 100vw;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 10px;
    z-index: 10;
}

.topbar .title {
    grid-column: 1;
    font-size: 32px;
}

.topbar .options {
    pointer-events: auto;
    text-align: right;
    grid-column: 3;
    padding-right: 16px;
    font-size: 28px;
}

.topbar .options .sidebar {
    height: 50%;
    background-color: rgba(255, 255, 255, .85);
}

.topbar .options .sidebar .sbtitle {
    text-align: left;
    font-size: 60px;
    margin-bottom: 10px;
}