.scene {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.canvas {
    background: #000;
    z-index: 8;
}

.hud {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    pointer-events: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 10px;
}

.hud_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.hud .title {
    grid-column: 1;
    font-size: 32px;
}

.hud .options {
    pointer-events: auto;
    text-align: right;
    grid-column: 3;
    padding-right: 16px;
    font-size: 28px;
}

.hud .options .sidebar {
    height: 50%;
    background-color: rgba(255, 255, 255, .85);
}

.hud .options .sidebar .sbtitle {
    text-align: left;
    font-size: 60px;
    margin-bottom: 10px;
}

.action {
    position: absolute;
    top: 12%;
    width: 100vw;
    height: 80vh;
    z-index: 1000;
}
